#scribbleArea {
	width: 95vw;
	height: 94vh;
	resize: none;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	display: block;
	border: none;
	margin: 0 auto 0 0;
}

#scribbleArea:focus {
	outline-color: var(--vscode-focusBorder);
}